<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.9.0" />
  <package id="Nancy.Hosting.Self" version="0.9.0" />
</packages>
<!--
Alex's CDs:
-------------------
--1 - The Folk Disc
-------------------
Bonnie "Prince" Billy - I See a Darkness
Chris Bathgate - Do What's Easy
Ha Ha Tonka - the one about 'tie one on'
Murder by Death - Fuego
Rilo Kiley - With Arms Outstretched
Sufjan Stevens - Chicago
Iron and Wine - Jezebel
Basia Bulat - Little Waltz
Jenny Lewis and the Watson Twins - Rise Up With Fists!
Mumford and Sons - Little Lion Man
Freelance Whales - Generator ^ 2nd Floor

------------------
--2 - The Emo Disc
------------------
Alexisonfire - To a Friend
Cursive - The Lament of Pretty Baby
Glassjaw - Ape Dos Mil
Jimmy Eat World - Lucky Denver Mint
No Knife - Mission Control
Park - At Breakneck Speed
Piebald - Two Rocking Chairs on a Porch
Say Anything - Alive! With the Glory of Love
The Starting Line - The Best of Me
Thursday - Understanding in a Car Crash
Thrice - The Melting Point of Wax
The Get Up Kids - Central Standard Time 
Further Seems Forever - Pictures of Shorelines
The Spill Canvas - The Tide

---------------------
--3 - The Mashup Disc
---------------------
E-603
White Noise
DJ Jewboy
Ludachrist
The Hood Internet

--------------------
--4 - The Indie Disc
--------------------
At the Drive-in - One-Armed Scissor
Local Natives - Airplanes
Broken Social Scene - World Sick
Stars - Your Ex-Lover is Dead
Feist - I Feel It All
Brand New - You Won't Know
Bright Eyes - The Middleman
Metric - Help, I'm Alive
Pinback - Walters
Portugal. The Man - AKA M80 the Wolf
Pretty Girls Make Graves - All Medicated Geniuses
Tapes 'n Tapes - Cowbell
Telekinesis - Foreign Room
Brazil - Escape

--------------------
--5 - The Bonus Disc
--------------------
??City and Colour - Weightless
Brand New - Jesus Christ (Daisy Sessions)
Broken Social Scene - Major Label Debut (Fast)
Brazil - Monolithic
At the Drive-In - Napoleon Solo
Alexisonfire - Passing Out in America
Jimmy Eat World - No Sensitivity
The Get Up Kids - Breathing Method or something else
Thursday - Jet Black New Year
Radiohead - Talk Show Host
Our Lady Peace - Stealing Babies
Loquat - Swingset Chain
Tim Kasher - Cold Love
Six Gallery - Bermuda Triangles
Cats and Cats and Cats - Sweet Drunk Everyone
Horse the Band - The Startling Secret of Super Sapphire
-->